/* Base styling for the container */
.container {
  max-width: 800px;
  margin: 80px auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the book image */
.container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for headings */
.container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Styling for text */
.container p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Additional styling for specific elements if needed */
.container p.author {
  font-weight: bold;
}

.reservation-button {
  display: inline-block;
  background-color: #007bff;
  padding: 10px;
  margin-left: 50px;
  font-size: 14px;
  color: #e2e2e2;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .container {
    margin: 10px auto;
    padding: 1rem;
  }
  .description {
    padding-bottom: 100px;
  }
}
