/* src/components/Navbar.css */

/* Base styling for the navbar */
.nav-container {
  background: #f4f4f4ef;
  color: #000;
  margin: 0;
  width: auto;
  max-width: 100%;
  border-bottom: 1px solid #00000095;
  position: fixed;
  top: 0px;
}

/* Container for the navigation elements */
.nav-container > div {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 0px 30px;
  align-self: flex-start;
}

/* Styling for navigation links */
.nav-links {
  display: flex;
  align-items: center;
  align-self: center !important;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.nav-links-1 {
  display: flex;
  align-items: center;
  align-self: center !important;
  gap: 0px;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007bff; /* Change the hover color to your preference */
}

/* Styling for the dropdown button */
.dropbtn {
  background: transparent !important;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  transition: color 0.3s ease;
}

/* Styling for the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f1f1f1 !important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #cecece00;
}

/* Styling for user info and buttons */
.user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.login-button,
.register-button,
.logout-button {
  background: transparent !important;
  border: 2px solid #000;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  transition: color 0.3s ease;
  text-decoration: none;
  margin: 10px;
  min-width: 125px;
  max-width: 1000px;
  font-weight: bold;
}

.login-button:hover,
.register-button:hover,
.logout-button:hover {
  color: #533153; /* Change the hover color to your preference */
  background-color: #000;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .nav-container {
    max-height: 20%;
    position: fixed;
    top: auto;
    bottom: 0px;
  }
  .nav-container > div {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-center;
  }

  .nav-links {
    margin-top: 0px;
    gap: 10px;
    padding: 0px;
  }

  .nav-logo-text {
    padding: 0px;
  }

  .nav-logo {
    max-width: 0px;
    max-height: 0px;
  }

  .logo {
    max-width: 0px;
    max-height: 0px;
  }

  .login-button,
  .register-button,
  .logout-button {
    margin-top: 5px;
  }
}

.nav-mobile {
  display: none;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .homepage-container {
    margin-top: 0px !important;
  }

  .nav-links {
    margin-top: 20px;
  }

  .nav-link {
    font-size: 12px !important;
  }

  .dropbtn {
    font-size: 12px !important;
  }

  .user-info {
    font-size: 14px !important;
  }

  .login-button,
  .register-button,
  .logout-button {
    font-size: 12px !important;
  }

  .nav-mobile {
    display: block;
    text-align: center;
  }

  .nav-mobile a {
    display: block;
    padding: 10px 0;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .nav-mobile a:hover {
    color: #007bff;
  }

  .login-button,
  .register-button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #eeeeee00 !important;
    color: #000;
    border: 2px color #000;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .login-button:hover,
  .register-button:hover {
    background-color: #0056b3;
  }

  .dropdown-content {
    transform: translateY(-105%);
  }
}
