/* src/components/Register.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
  background-color: #f0f0f0;
  max-height: 100%;
}

.register-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.register-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-input {
  border: 1px solid #ccc !important;
  border-radius: 10px !important;
  padding: 8px !important;
  margin-bottom: 20px !important;
  margin-top: 5px !important;
  font-size: 0.875rem !important;
  width: 100% !important;
  height: 20px !important;
}

.register-button-1 {
  background-color: #533153 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 15px !important;
  font-size: 0.875rem !important;
  font-weight: bold !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  width: 100% !important;
}

.register-button:hover {
  background-color: #0056b3;
}

.lets-login {
  color: #533153;
  text-decoration: underline;
}

.lets-login:hover {
  text-decoration: underline;
  cursor: pointer;
}

.google {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff !important;
  border: 2px solid #000;
  color: #000;
  border-radius: 10px;
  padding: 12px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .register-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px !important;
    width: 300px;
  }
}
