/* src/components/Reservation.css */

.reservation-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 65px;
}

.reservation-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reservation-list {
  list-style: none;
  padding: 0;
}

.reservation-item {
  background: #18191A; 

  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #00000025;
}

.book-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.book-date {
  font-size: 16px;
  color: #fff;
}

.max-return-date {
  font-size: 16px;
  color: #fff;
}

.book-status {
  font-size: 16px;
  color: #fff;
}

.cancel-button {
  display: inline-block;
  background: #cf0000;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #e2e2e2;
  cursor: pointer;
  border: none;
}
.cancel-button:hover {
  background: #da0000;
  text-decoration: underline;
  color: #bba5a5;
  opacity: 0.7;
}

.copy-button {
  display: inline-block;
  background: #141414;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #e2e2e2;
  cursor: pointer;
  border: none;
}

.copy-button:hover {
  background: #626262;
  text-decoration: underline;
  color: #bba5a5;
  opacity: 0.7;
}

.book-titledelayed-reservation {
  color: #e21f1f;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.book-titledelivered-reservation {
  color: #1f5e09;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.qr-code {
  background-color: #eeeeee;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border: none;
  margin-top: 20px;
  align-self: auto;
  background-color: #eeeeee;
  border-radius: 10px;
}

.table-copy-button {
  width: 100%;
  border: none;
  margin-top: 20px;
  align-self: auto;
  background-color: #eeeeee;
  border-radius: 10px;
}

.table-cancel {
  width: 100%;
  border: none;
  margin-top: 20px;
  align-self: auto;
  background-color: #eeeeee;
  border-radius: 10px;
}

.table-image {
  width: 100%;
  border: none;
  margin-top: 20px;
  align-self: auto;
  background-color: #eeeeee;
  border-radius: 10px;
}

.image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 20px;
  padding: 10px;
}

@media (max-width: 768px) {
  .reservation-container {
    max-width: 100%;
    padding: 10px;
    margin-top: 0px !important;
  }

  .reservation-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .reservation-item {
    padding: 10px;
    margin-bottom: 10px;
  }

  .book-title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .book-date,
  .max-return-date,
  .book-status {
    font-size: 14px;
  }

  .cancel-button {
    display: inline-block;
    padding: 8px;
    margin-top: 5px;
    font-size: 12px;
    width: auto; /* Adjust width as needed */
  }

  .copy-button {
    display: inline-block;
    padding: 8px; /* You can adjust this padding as needed */
    margin-top: 5px;
    font-size: 12px;
  }

  .book-titledelayed-reservation,
  .book-titledelivered-reservation {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .qr-code {
    padding: 5px;
    margin-top: 5px;
  }

  .table {
    margin-top: 10px;
  }

  .copy-button {
    display: none;
    margin: 0px;
  }

  .image {
    max-width: 100px;
    max-height: 100px;
    padding: 5px;
  }
  .table-copy-button {
    display: none;
  }

  .table-cancel {
    padding: 0px 5px !important;
  }

  .table-image {
    padding: 0px 5px !important;
  }
}
