/* src/components/Reservation.css */

.reservation-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.reservation-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reservation-list {
  list-style: none;
  padding: 0;
}

.reservation-item {
  background-color: #000000;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-title {
  color: #e2e2e2;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.book-date {
  font-size: 16px;
  color: #e2e2e2;
}

.max-return-date {
  font-size: 16px;
  color: #e2e2e2;
}

.book-status {
  font-size: 16px;
  color: #e2e2e2;
}

.cancel-button {
  display: inline-block;
  background-color: #cf0000;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #e2e2e2;
  cursor: pointer;
  border: none;
}
.cancel-button:hover {
  background-color: #da0000;
  text-decoration: underline;
  color: #bba5a5;
  opacity: 0.7;
}

.copy-button {
  display: inline-block;
  background-color: #141414;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #e2e2e2;
  cursor: pointer;
  border: none;
}

.copy-button:hover {
  background-color: #626262;
  text-decoration: underline;
  color: #bba5a5;
  opacity: 0.7;
}

.book-titledelayed-reservation {
  color: #e21f1f;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.book-titledelivered-reservation {
  color: #23c214;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.qr-code {
  background-color: #eeeeee;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border: none;
  margin-top: 20px;
  align-self: auto;
  background-color: #eeeeee;
  border-radius: 10px;
}

.image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 20px;
  padding: 10px;
}
